<div class="polls" [ngClass]="{'animate': animate}">
    <img src="assets/vote.jpg" alt="white rasta" class="small-image">

    <br>

    <div class="content-container">
        <ul class="poll-list">
            <li><a [routerLink]="['/polls/general']">General Polls</a></li>
            <li><a [routerLink]="['/polls/industry']">Industry Polls</a></li>
            <li><a [routerLink]="['/polls/national']">National Polls</a></li>
            <li><a [routerLink]="['/polls/state']">State Polls</a></li>
            <li><a [routerLink]="['/polls/local']">Local Polls</a></li>
            <li><a [routerLink]="['/polls/politics']">Politics Polls</a></li>
            <li><a [routerLink]="['/polls/music']">Music Polls</a></li>
            <li><a [routerLink]="['/polls/television']">Television Polls</a></li>
            <li><a [routerLink]="['/polls/marketing']">Marketing Polls</a></li>
        </ul>
        <div class="router-container">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
