<div *ngIf="polls.length > 0" class="polls-container">
    <p>Polls Feed</p>
    <div *ngFor="let poll of polls" class="poll" [@fadeIn]>
        <h2>{{ poll.question }}</h2>
        <form (ngSubmit)="submitVote(poll)">
            <ul>
                <li *ngFor="let option of poll.options">
                    <label>
                        <input type="radio" name="pollOptions" [value]="option" [(ngModel)]="selectedOption">
                        {{ option.text }}
                    </label>
                    <span class="vote-count">| Votes: {{ option.votes }}</span>
                </li>
            </ul>
            <button type="submit">Vote</button>
        </form>
    </div>
</div>
  <div *ngIf="polls.length === 0">
    <p>No polls available.</p>
</div>
