<div class="home">
    <p>Polling provides a valuable tool for gauging public opinion on critical issues, helping policymakers shape decisions that align with the majority's perspectives.</p>
    <img src="assets/polling.jpg" alt="People polling on laptops at table" class="small-image">
    <p>Human rights serve as the foundation of a just and equitable society, ensuring every individual is treated with dignity, respect, and freedom regardless of their background or beliefs.</p>
    <img src="assets/work.jpg" alt="People polling on laptops at table" class="small-image">
</div>
