.polls-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.poll {
    width: 90%; /* or any desired width */
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

