/* app-poll-list.component.css */
.poll-list-container {
    list-style: none;
    padding: 0;
    margin: 0;
}

.poll-list-item {
    padding: 10px; /* Add padding to create space between items */
    border-bottom: 1px solid #ccc; /* Add a border between items */
}

.poll-list-item:last-child {
    border-bottom: none; /* Remove border from the last item */
}
