<div class="home" [ngClass]="{'animate': animate}">
    <div class="section section1">
        <p>Polling provides a valuable tool for gauging public opinion on critical issues, helping policymakers shape decisions that align with the majority's perspectives.</p>
    </div>
    <div class="section section2">
        <img src="assets/polling.jpg" alt="People polling on laptops at table" class="small-image">
    </div>
    <div class="section section3">
        <img src="assets/work.jpg" alt="People polling on laptops at table" class="small-image">
    </div>
    <div class="section section4">
        <p>Crafting comprehensive and thoughtful polls allows us to harness diverse perspectives, ensuring every voice is heard, and contributing to more informed and balanced decisions in any field or community we choose to explore.</p>
    </div>
</div>
