/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.center-container {
    margin: 0 auto;
    max-width: 800px; /* Adjust the value to your preference */
}

ul {
    list-style: none;
    padding: 0;
}

li {
margin-bottom: 10px; /* Add some spacing between items if desired */
}

.small-image {
    width: 50%;
    height: auto;
}
