/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.center-container {
    margin: 0 auto;
    max-width: 800px; /* Adjust the value to your preference */
}

ul {
    list-style: none;
    padding: 0;
}

li {
margin-bottom: 10px; /* Add some spacing between items if desired */
}

.small-image {
    width: 50%;
    height: auto;
}


.animate {
    /* animation: slideUp 3s ease infinite; */
    animation: pixelIn 2s forwards;

}

@keyframes pixelIn {
    0% {
        opacity: 0;
        filter: blur(10px);
    }
        100% {
        opacity: 1;
        filter: blur(0);
    }
}


@keyframes slideUp {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-20px);
    }
}


@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

@keyframes tada {
    0% {
        transform: scale(1);
    }
    10%, 20% {
        transform: scale(0.9) rotate(-3deg);
    }
    30%, 50%, 70%, 90% {
        transform: scale(1.1) rotate(3deg);
    }
    40%, 60%, 80% {
        transform: scale(1.1) rotate(-3deg);
    }
    100% {
        transform: scale(1) rotate(0);
    }
}

@keyframes squiggle {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(10px);
    }
    100% {
        transform: translateX(0);
    }
}



@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
}


@keyframes fade {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

@keyframes zoom {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}