<nav>
    <ul>
        <li><LinkTo @route="index">Home</LinkTo></li>
        <li><LinkTo @route="countries">Countries</LinkTo></li>
        {{!-- <li><LinkTo @route="air-quality">Air Quality</LinkTo></li> --}}
    </ul>
</nav>

<main>
    {{outlet}}
</main>
