<div class="body-countries">

    <div class="home-page">
            <h1>Welcome to Get Country</h1>
            <p>Explore the world with real-time data from different countries at your fingertips.</p>

            <div class="feature-box">
                <h3>Search for Countries</h3>
                <p>Discover detailed information about different countries on the Countries page.</p>
                    <li>
                        <LinkTo @route="countries">Go to Countries</LinkTo>
                    </li>
            </div>
    </div>
</div>